body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #232731;
  color: white;
}
h1 {
  margin-top: 0;
}